body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
}

.app {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.form,
.filter-bar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, textarea, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #ff7eb3;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #ff4d94;
}

.task-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  color: white;
  transition: 0.3s;
}

.task-card:hover {
  transform: translateY(-5px);
}

.dashboard {
  display: flex;
  justify-content: space-around;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}